html {
    box-sizing: border-box;
   
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

hr{
    width: 60%;
    background-color: black;
    margin-top: 4rem;
}


/* Barra de Navegacion */

.contenido-header{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}

.navegacion{
    display: flex;
    flex-wrap: wrap;
    
}

.navegacion a{
    margin: 10px;
    padding: 1.2em;
}

.navegacion a{
    text-decoration: none;
    font-size: 15px;
    padding: 1.2em;
    color: black;
}

img{
    width: 100%;
}

header .logo{
    width: 7em;
    margin: 1em;
    border-radius: 40px;
}


/* Contenido Hero */

.hero{
    background-image: url(img/hero2.1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center; 
     justify-content: center;
    height: 60vh;
    width: 100vw;
    
}
.texto-hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.texto-hero-container .title-hero{
    font-size: 15px;
    text-align: center;
}

.texto-hero-container .text-hero{
    font-size: 1.6em;
    text-align: center;
}

.texto-hero-container .button-hero{
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: rgb(196, 58, 58);
    border-radius: 50px;
    padding: 10px 15px;
    

}


/* Menu principal */


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

h2{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 5em;
}

article{
    text-align: center;

}

main article p{
    font-size: 15px;
}

.container article i{
    font-size: 2.2rem;
}


/* Footer */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;
}

.footer-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 50px;
}

.footer-text i{
    padding: 30px;
    width: 100%;
}


  

